---
---

@import "{{ site.theme }}";
body {
  background-color: #090040;
}

h1 {
  color: #78B9B5;
  text-align: center;
}

h2 {
  color: #3aaecf;
}

h3 {
  color: #0c8787;
}

h4 {
  color: #0F828C;
}

h5 {
  color: #00f2d4;
  text-align: center;
  font-family: 'Lucida Handwriting';
  font-size: 30px;
}

ul {
  color: #00f2d4;
}

p {
  color: #13e8e8;
  font-family: verdana;
  font-size: 20px;
}

.highlight {
  padding:4px;
  overflow:auto;
  font-size:85%;
  line-height:1.45;
  background-color:#13e8e8;
  border-radius:3px
}
