---
---

@import "{{ site.theme }}";
body {
  background-color: #1b3c53;
}

h1 {
  color: #234c6a;
  text-align: center;
}

h2 {
  color: #456882;
}

h3 {
  color: #d2c1b6;
}

h4 {
  color: #d2c1b6;
}

ul {
  color: #2E8A99;
}

p {
  color: white;
  font-family: verdana;
  font-size: 20px;
}
