---
---

@import "{{ site.theme }}";
body {
  background-color: #090040;
}

h1 {
  color: #78B9B5;
  text-align: center;
}

h2 {
  color: #0F828C;
}

h3 {
  color: #0F828C;
}

h4 {
  color: #0F828C;
}

ul {
  color: #00f2d4;
}

p {
  color: #0f828c;
  font-family: verdana;
  font-size: 20px;
}

markdown-body pre {
  padding:16px;
  overflow:auto;
  font-size:85%;
  line-height:1.45;
  background-color:#00f2d4;
  border-radius:3px
}
