---
---

@import "{{ site.theme }}";
body {
  background-color: #0E2954;
}

h1 {
  color: #1F6E8C;
  text-align: center;
}

h2 {
  color: #2E8A99;
}

h3 {
  color: #84A7A1;
}

h4 {
  color: #84A7A1;
}

ul {
  color: #2E8A99;
}

p {
  color: white;
  font-family: verdana;
  font-size: 20px;
}
