---
---

@import "{{ site.theme }}";
body {
  background-color: #081b2a;
}

h1 {
  color: #00f2d4;
  text-align: center;
}

h2 {
  color: #00f2d4;
}

h3 {
  color: #00f2d4;
}

ul {
  color: #00f2d4;
}

p {
  color: white;
  font-family: verdana;
  font-size: 20px;
}
