---
---

@import "{{ site.theme }}";
body {
  background-color: #91C6BC;
}

h1 {
  color: #4B9DA9;
  text-align: center;
}

h2 {
  color: #4B9DA9;
}

h3 {
  color: #F6F3C2;
}

h4 {
  color: #F6F3C2;
}

ul {
  color: #E37434;
}

p {
  color: #F6F3C2;
  font-family: verdana;
  font-size: 20px;
}
