---
---

@import "{{ site.theme }}";
body {
  background-image: linear-gradient(to right, #090040, #04011c)
}

a{
  color: white;
}

h1 {
  color: #00fffb;
  font-family: monaco;
}

h2 {
  color: #3aaecf;
}

h3 {
  color: #0c8787;
}

h4 {
  color: #0F828C;
}

h5 {
  color: #00f2d4;
  text-align: center;
  font-family: cursive;
}

ul {
  color: #00f2d4;
}

p {
  color: #13e8e8;
  font-family: verdana;
  font-size: 20px;
}
.highlight {
  padding:4px;
  overflow:auto;
  font-size:85%;
  line-height:1.45;
  background-color:#13e8e8;
  border-radius:3px
}
.markdown-body .highlight pre,
.markdown-body pre {
  padding:16px;
  overflow:auto;
  font-size:85%;
  line-height:1.45;
  background-color:#c0d1d1;
  border-radius:3px
}
