---
---

@import "{{ site.theme }}";
$cod-grey: #081b2a;
body {
  background-color: #081b2a;
}

h1 {
  color: #00f2d4;
  text-align: center;
}

p {
  color: white;
  font-family: verdana;
  font-size: 20px;
}
